@import '../../base/variables';

.sf-tabs {
  .sf-tabs__content {
    --tabs-content-font-line-height: #{$line-height-base};
    --tabs-content-font-family: var(--font-family-primary);
    --tabs-content-font-weight: var(--font-normal);
    --tabs-content-font-size: var(--font-size-base);
  }

  .sf-tabs__title {
    padding: var(--tabs-title-padding, var(--spacer-sm));
  }
}