ul,
ol,
dl {
    list-style-position: outside;
    margin: 0;
    padding: 0 0 0 22px;
    li {
        ul {
            list-style-position: outside;
            margin: 0;
            padding: 0 0 0 22px;
        }
    }
}

ul {
    list-style-image: url("/assets/list-marker.svg");
}

blockquote {
    border-left: 2px solid var(--c-blockquote-border);
    color: var(--c-blockquote);
    padding: var(--spacer-xs) var(--spacer-base);
    text-align: left;

    > p {
        margin-bottom: 0;

        &:first-child {
            margin-top: 0;
        }
    }
}
