// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot svg woff ttf
) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );

  $formats: (
    eot: "embedded-opentype",
    otf: "opentype",
    ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + "." + $extmod)) format(quote($format)),
      comma
    );
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
    font-display: swap;
  }
}

$path: "/assets/fonts/";

$font-path: $path + "GothamRnd-Light_300";
@include font-face("Gotham Rounded", $font-path, 300, normal, woff2);

$font-path: $path + "GothamRnd-Light_300_Italic";
@include font-face("Gotham Rounded", $font-path, 300, italic, woff2);

$font-path: $path + "GothamRnd-Book_400";
@include font-face("Gotham Rounded", $font-path, 400, normal, woff2);

$font-path: $path + "GothamRnd-Book_400_Italic";
@include font-face("Gotham Rounded", $font-path, 400, italic, woff2);

$font-path: $path + "GothamRnd-Medium_500";
@include font-face("Gotham Rounded", $font-path, 500 600, normal, woff2);

$font-path: $path + "GothamRnd-Medium_500_Italic";
@include font-face("Gotham Rounded", $font-path, 500 600, italic, woff2);

$font-path: $path + "GothamRnd-Bold_700";
@include font-face("Gotham Rounded", $font-path, 700, normal, woff2);

$font-path: $path + "GothamRnd-Bold_700_Italic";
@include font-face("Gotham Rounded", $font-path, 700, italic, woff2);


$font-path: $path + "Titillium-Web-Regular";
@include font-face("Titillium Web", $font-path, 400, normal, woff2);

$font-path: $path + "Titillium-Web-Italic";
@include font-face("Titillium Web", $font-path, 400, italic, woff2);

$font-path: $path + "Titillium-Web-SemiBold";
@include font-face("Titillium Web", $font-path, 600, normal, woff2);

$font-path: $path + "Titillium-Web-SemiBoldItalic";
@include font-face("Titillium Web", $font-path, 600, italic, woff2);

$font-path: $path + "Titillium-Web-Bold";
@include font-face("Titillium Web", $font-path, 700, normal, woff2);

$font-path: $path + "Titillium-Web-BoldItalic";
@include font-face("Titillium Web", $font-path, 700, italic, woff2);

