// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot svg woff ttf
) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );

  $formats: (
    eot: "embedded-opentype",
    otf: "opentype",
    ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + "." + $extmod)) format(quote($format)),
      comma
    );
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
    font-display: swap;
  }
}

$path: "/assets/fonts/";

$font-path: $path + "Avenir-Light_300";
@include font-face("Avenir", $font-path, 300, normal, woff2);

$font-path: $path + "Avenir-LightOblique_300_Italic";
@include font-face("Avenir", $font-path, 300, italic, woff2);

$font-path: $path + "Avenir-Oblique_400_Italic";
@include font-face("Avenir", $font-path, 400, italic, woff2);

$font-path: $path + "Avenir-Roman";
@include font-face("Avenir", $font-path, 400, normal, woff2);

$font-path: $path + "Avenir-Roman_400";
@include font-face("Avenir", $font-path, 400, normal, woff2);

$font-path: $path + "Avenir-Medium_500";
@include font-face("Avenir", $font-path, 500 600, normal, woff2);

$font-path: $path + "Avenir-MediumOblique_500_Italic";
@include font-face("Avenir", $font-path, 500 600, italic, woff2);

$font-path: $path + "Avenir-Heavy_800";
@include font-face("Avenir", $font-path, 700 800, normal, woff2);

$font-path: $path + "Avenir-HeavyOblique_800_Italic";
@include font-face("Avenir", $font-path, 700 800, italic, woff2);

$font-path: $path + "Avenir-Black_900";
@include font-face("Avenir", $font-path, 900, normal, woff2);

$font-path: $path + "Avenir-BlackOblique_900_Italic";
@include font-face("Avenir", $font-path, 900, italic, woff2);


$font-path: $path + "Roselina-Script";
@include font-face("Roselina", $font-path, 400, normal, woff2);





$font-name: "GothamRounded";
@each $font-weight in 300, 400, 500, 700 {
  $font-path: $path + $font-name + "_" + $font-weight + "_normal";
  @include font-face($font-name, $font-path, $font-weight, normal);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @each $font-weight in 300, 400, 500, 700 {
    $font-path: $path + $font-name + "_" + $font-weight + "_normal";
    @include font-face($font-name, $font-path, $font-weight, null, svg);
  }
}
