.sf-button {
    &.color-secondary {
        --button-color: var(--c-white);
        --c-secondary: linear-gradient(to bottom, #5c696f 0%, #475359 48%, #313c41 100%);
        --button-border: none;

        &:hover, &:focus {
            --button-background: linear-gradient(to bottom, #313c41 0%, #475359 48%, #5c696f 100%);
        }

        &:active {
            --button-background: var(--c-secondary-variant);
        }

        &.sf-button--text {
            --button-border-width: 0;
            --button-padding: 0;
            --button-background: transparent;
            --button-color: var(--c-text);
            --button-text-transform: none;
            --button-text-decoration: underline;
            --button-font-size: var(--font-xs);
            --button-font-weight: var(--font-medium);

            &:hover, &:focus {
                --button-color: var(--c-link-hover);
            }
        }
    }

    @media (max-width: $mobile-max) {
        padding: var(--button-padding, var(--spacer-sm) calc(var(--spacer-sm) * 1.5));
    }
}