.sf-circle-icon {
  // --button-background: var(--c-primary);
  --button-border-radius: 100%;
  --button-border-width: 0;
  // &:hover

  &:hover {
    --button-background: var(--_c-light-primary); // TODO
    --button-box-shadow: 0 0 0 0.3125rem rgba(var(--_c-light-primary), 0.3); // TODO
  }

  &:active {
    --button-transition: box-shadow 150ms ease;
    --button-box-shadow: 0 0 0 0.5rem rgba(var(--_c-light-primary), 0.3); // TODO
  }
  &:disabled {
    --button-box-shadow: 0;
    --icon-color: var(--c-text-disabled);
    --button-background: #ea86b4; // TODO

    &:hover {
      --button-background: #ea86b4; // TODO
    }
  }
}