.sf-input {
    --input-font-family: var(--font-family-primary);
    --input-label-font-family: var(--font-family-primary);
    --input-error-message-font-family: var(--font-family-primary);

    --input-error-message-color: var(--c-danger-variant);
    --input-error-message-font-weight: var(--font-light);

    input {
        &:focus {
            outline: none;
        }

        &:disabled {
            --input-border-color: var(--c-text-disabled);
        }
    }
}