.sf-input {
    --input-error-message-color: var(--c-danger-variant);
    --input-error-message-font-weight: var(--font-light);

    input {
        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: var(--c-black) auto 1px;
            outline: -webkit-focus-ring-color auto 1px;
            outline: AccentColor auto 1px;
            outline-offset: 2px;
        }

        &:disabled {
            --input-border-color: var(--c-text-disabled);
        }
    }

    .sf-input__password-button {
        --button-background: transparent;
        --button-border-color: transparent;
        --button-border-width: 0;
        
    }
}