.sf-quantity-selector {
  --quantity-selector-background: none;
  
  .sf-quantity-selector__button {
    --button-background: transparent;
    --button-border-color: transparent;
    --button-border-width: 0;
  }
}
