.sf-select {
    --select-error-message-color: var(--c-danger-variant);
    --input-error-message-font-weight: var(--font-light);

    &__overlay {
        --overlay-z-index: 20
    }
    &__dropdown {
        // some third party widgets on production has such values
        // so it's overlap dropdown content
        --select-dropdown-z-index: 2147483648;

        .sf-select__options {
            // For Firefox
            scrollbar-color: var(--c-dark-variant) var(--c-white);
            scrollbar-width: thin;

            &::-webkit-scrollbar {
                width: 6px;
            } 
    
            &::-webkit-scrollbar-thumb {
                border-radius: 1em;
                background: var(--c-dark-variant);
            }
        }
    }

    &.sf-select--underlined {
        &.-invalid {
            --select-border-color: var(--c-danger);
            --select-error-message-color: var(--c-danger-variant);
            --input-error-message-font-weight: var(--font-light);
        }
    }

    @include for-desktop {
        &__dropdown {
         --select-dropdown-z-index: 21;   
        }

        &__options {
            overflow: auto;
        }
    }

    @media (prefers-color-scheme: dark) {
        // Hack for detect iOS Safari
        @supports (-webkit-touch-callout: none) {
            --select-option-border-color: var(--c-gray-lighten);
            --select-dropdown-background: var(--c-dark-variant);
            --overlay-background: rgba(255, 255, 255, 0.7);

            .sf-select-option {
                color: var(--c-dark-darken);

                &.sf-select-option--is-active {
                    --select-option-background: var(--c-dark-lighten);
                    color: var(--c-white-darken);
                }
            }

            .sf-select__cancel {
                --button-background: var(--c-dark-darken);
                --button-color: var(--c-white-darken);
            }
        }
    }
}
